<nav class="grey darken-3">
    <div class="nav-wrapper container">

        <a href="#!" class="brand-logo center">IIC - IIITDM Portal</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger show-on-large"><i class="fas fa-bars"></i></a>
        <ul class="sidenav" id="mobile-demo">
            <li><a href="/stories">Form 1 - Ideas</a></li>
            <li><a href="/stories/st1">Form 2 - Ideas</a></li>
            <li><a href="/dashboard">Form 1 - Personal Dashboard</a></li>
            <li><a href="/dashboard2">Form 2 - Personal Dashboard</a></li>
            <li><a href="">IIC Members / Contributors</a></li>
            <li><a href="/auth/logout">Logout</a></li>
        </ul>
    </div>
</nav>